<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="utf-8">
	<title>课程--三问数学</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/static/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/static/css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form linksAdd">
	<input type="hidden" value="" id="id" name="ids">
	<div class="layui-form-item">
		<label class="layui-form-label">课程名称</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input curriculumName" name="curriculumName" lay-verify="required" placeholder="请输入课程名称">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">学期</label>
		<div class="layui-input-block">
			<select name="semester" id="semesterSelect"  lay-filter="semesterSelect">
				<option value="1">春季</option>
				<option value="2">秋季</option>
				<option value="3">暑假</option>
				<option value="4">寒假</option>
			</select>
		</div>
	</div>
	<div class="layui-form-item ">
		<label class="layui-form-label">日期</label>
		<div class="layui-input-block">
			<select id="dateSelect" name="date" lay-filter="dateSelect">
				<option value="1">一期</option>
				<option value="2">二期</option>
				<option value="3">三期</option>
				<option value="4">四期</option>
				<option value="5">特殊</option>
			</select>
		</div>
	</div>
	<div class="layui-form-item ">
		<label class="layui-form-label">年份</label>
		<div class="layui-input-block">
			<select name="year" id="yearSelect">
				<option th:each="i:${#numbers.sequence(2019,2030)}" th:text="${i}" th:value="${i}">
				</option>
			</select>
		</div>
	</div>
	<div class="layui-form-item ">
		<label class="layui-form-label">年级</label>
		<div class="layui-input-block">
			<select name="grade" id="gradeSelect">
				<option value="1">一年级</option>
				<option value="2">二年级</option>
				<option value="3">三年级</option>
				<option value="4">四年级</option>
				<option value="5">五年级</option>
				<option value="6">六年级</option>
			</select>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">课次</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input classTime" name="classTime" lay-verify="required|number" placeholder="请输入课次">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">标价</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input price" name="price" lay-verify="required|money" placeholder="请输入标价">
		</div>
	</div>
	<div class="layui-form-item">
		<button class="layui-btn layui-block" lay-filter="addCurri" lay-submit>保存</button>
	</div>
</form>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script>
	layui.use(['form','layer'],function(){
		var form = layui.form
		layer = parent.layer === undefined ? layui.layer : top.layer,
				$ = layui.jquery;


		form.on('select(semesterSelect)', function(data){
			var options = "";
			if (data.value == 0 || data.value == 1) {
				options += "<option value=\"1\">一期</option>\n" +
						"\t\t\t\t<option value=\"2\">二期</option>\n" +
						"\t\t\t\t<option value=\"3\">三期</option>\n" +
						"\t\t\t\t<option value=\"4\">四期</option>\n" +
						"\t\t\t\t<option value=\"5\">特殊</option>";
			} else {
				options += "<option value=\"6\">周一</option>\n" +
						"\t\t\t\t<option value=\"7\">周二</option>\n" +
						"\t\t\t\t<option value=\"8\">周三</option>\n" +
						"\t\t\t\t<option value=\"9\">周四</option>\n" +
						"\t\t\t\t<option value=\"10\">周五</option>\n" +
						"\t\t\t\t<option value=\"11\">周六</option>\n" +
						"\t\t\t\t<option value=\"12\">周日</option>";
			}
			$("#dateSelect").html(options);
			form.render("select")
		});
		form.verify({
			money: function(val, item) {
				if(!/^\d+(\.\d{0,2})?$/.test(val)){
					return '请输入正确的格式'
				}
			}
		});
		form.on("submit(addCurri)",function(data){
			//弹出loading
			var index = top.layer.msg('数据保存中，请稍候...',{icon: 16,time:false,shade:0.8});
			$.post("/curriculum/add",data.field,function(res){
				layer.close(index);
				if (res.data){
					layer.msg("保存成功！");
					layer.closeAll("iframe");
					//刷新父页面
					parent.location.reload();
				} else {
					layer.msg(res.msg);
				}
			});
			return false;
		});

	})
</script>
</body>
</html>