<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>学生列表</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/static/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/static/css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form">
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<div class="layui-inline">
				<div class="layui-input-inline">
					<select class="available" id="teacherIDSelect" lay-filter="teacherIDSelect" name="teacher"
							lay-verify="required" lay-search=""><i class="layui-edge"></i>
						<option value="">请选择老师</option>
					</select>
				</div>
				<div class="layui-input-inline">
					<select class="available" id="selectClass" lay-filter="selectClass" name="classId"
							lay-verify="required" lay-search=""><i class="layui-edge"></i>
						<option value="">请选择班级</option>
					</select>
				</div>
				<div class="layui-inline">
					<a class="layui-btn layui-btn-normal js_export">导出</a>
				</div>
			</div>
		</form>
	</blockquote>
	<table id="studentList" lay-filter="studentList"></table>

</form>

<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.validate.js"></script>
<script type="text/javascript" src="/static/js/site.js"></script>
<script>
	layui.use(['form','layer','table'],function(){
		var form = layui.form,
				layer = parent.layer === undefined ? layui.layer : top.layer,
				$ = layui.jquery,
				table = layui.table;

		layer.ready(function () {
			$.post("/user/selectListData?roleId=2",function(data){
				var t = 0;
				var resourceTypeList = data.data;
				resourceTypeList.forEach(function(e){
					t++;
					$("#teacherIDSelect").append("<option value='"+e.id+"'>"+e.name+"</option>");
				});

				form.render('select');//重新渲染
			});
		});

		form.on('select(teacherIDSelect)', function(data){
		    console.log(data.value)
			if (data.value == "") {
				tableIns.reload();
			}
			$("#selectClass").html("")
			$("#selectClass").append("<option value=''>请选择班级</option>")
			$.post("/classes/findByTeacherId", {teacherId : data.value},function(data){
				var t = 0;
				var resourceTypeList = data.data;
				resourceTypeList.forEach(function(e){
					t++;
					$("#selectClass").append("<option value='"+e.id+"'>"+e.className+"</option>");
				});

				form.render('select');//重新渲染
			});
		});

		form.on('select(selectClass)', function (data) {
			var classId = data.value;
			table.reload("studentList",{
				page: {
					curr: 1 //重新从第 1 页开始
				},
				where: {
					classId: classId
				}
			})
		})

		var curList;
		//学生列表
		var tableIns =
				table.render({
			elem: '#studentList',
			url : '/student/findExportList',
			cellMinWidth : 115,
			//page : true,
			height : "full-125",
			limits : [10,20,30],
			limit : 10,
			id : "studentList",
			cols : [[
				//{type: "checkbox", fixed:"left", width:50},
				{field: 'studentName', title: '学生姓名', minWidth:110, align:'center', sort: true},
				{field: 'sex', title: '性别', minWidth:70, align:'center', sort: true,  templet:function (d) {
					return getSex(d.sex)
					}},
				{field: 'school', title: '学校', minWidth:100, align:'center', sort: true},
				{field: 'grade', title: '年级', minWidth: 100, align: 'center', sort: true, templet: function (d) {
						return getGradeType(d.grade)
					}},
				{field: 'entranceYear', title: '入学年份', minWidth:110, align:'center', sort: true},
				{field: 'remark', title: '备注', minWidth:100, align:'center', sort: true},
				{field: 'createTime', title: '创建时间', align:'center',minWidth:150, sort: true},
				{field: 'address', title: '联系地址', align:'center',minWidth:110, sort: true},
				{field: 'phoneOne', title: '电话一', minWidth:120, align:'center', sort: true},
				{field: 'phoneOneRemark', title: '电话一备注', minWidth:120, align:'center', sort: true},
				{field: 'phoneTwo', title: '电话二', minWidth:120, align:'center', sort: true},
				{field: 'phoneTwoRemark', title: '电话二备注', minWidth:120, align:'center', sort: true}

			]]
		});

		var scoreTable;
		var studentId;
		var classId;
		function findClassByStudentId() {
			$("#classesSselectId").html('');
			$.post("/classes/findUsedClass", {studentId: studentId}, function (res) {
				classList = res.data;
				classList.forEach(function (e) {
					$("#classesSselectId").append("<option value='" + e.id + "'>" + e.className + "</option>");
				});
				form.render('select');//重新渲染
				if (res.data.length > 0){
					classId =  res.data[0].id;
				} else {
					classId = -1;
				}
			})

		}

		form.on('select(classesSselectId)', function (data) {
			classList.forEach(function (e) {
				if (parseInt(data.value) === e.id) {
					classId = data.value;
				}
			});

		});

		$(".js_export").click(function () {
			var classId = $("#selectClass").val();
			//导出
			window.location.href="/student/exportList?classId=" + classId;
		})



	})

</script>
</body>
</html>