<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>学生列表</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/static/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/static/css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form">
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<div class="layui-inline">
				<div class="layui-input-inline">
					<input type="text" class="layui-input studentName" id="searchByName" placeholder="请输入学生姓名" />
					<input id="hiddenText" type="text" style="display:none" />
				</div>
				<a class="layui-btn search_btn" data-type="reload">搜索</a>
			</div>
		</form>
	</blockquote>
	<table id="studentList" lay-filter="studentList"></table>

	<div id="openScoreList" style="display: none">
		<form class="layui-form changeClassForm">
			<div class="layui-form-item" style="margin-top: 10px; margin-bottom: 10px; margin-right: 20px;">
				<label class="layui-form-label" style="padding-left: -10px;">选择班级</label>
				<div class="layui-input-block">
					<select class="classes classesSselectId" id="classesSselectId" lay-filter="classesSselectId" name="stuClass"
							lay-verify="required" lay-search=""><i class="layui-edge"></i>
					</select>
				</div>
			</div>
		</form>
		<table id="scoreList" lay-filter="scoreList"></table>
	</div>

</form>
<script type="text/html" id="opbar">
	<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="infoEnter">信息补录</a>
	<a class="layui-btn layui-btn-xs layui-btn-warm " lay-event="scoreEnter">成绩录入</a>

</script>
<script type="text/html" id="opbarScore">
	{{#  if(d.score == -1 ){ }}
		<a class="layui-btn layui-btn-xs layui-btn-normal " lay-event="scoreIns">录入</a>
	{{#  } else { }}
		<a class="layui-btn layui-btn-xs layui-btn-normal " lay-event="scoreEdit">编辑</a>
	{{#  } }}

	<!--<a class="layui-btn layui-btn-xs layui-btn-warm " lay-event="scoreDelete">删除</a>-->
</script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.validate.js"></script>
<script type="text/javascript" src="/static/js/site.js"></script>
<script>
	layui.use(['form','layer','table'],function(){
		var form = layui.form,
				layer = parent.layer === undefined ? layui.layer : top.layer,
				$ = layui.jquery,
				table = layui.table;

		var curList;
/*		$.post("/curriculum/selectListData",{
			available : 1
		},function(data){
			curList = data.data;
		});*/
		//学生列表
		//var tableIns =
				table.render({
			elem: '#studentList',
			url : '/student/findPage',
			cellMinWidth : 115,
			page : true,
			height : "full-125",
			limits : [10,20,30],
			limit : 10,
			id : "studentList",
			cols : [[
				//{type: "checkbox", fixed:"left", width:50},
				{field: 'studentName', title: '学生姓名', minWidth:100, align:'center'},
				{field: 'sex', title: '性别', minWidth:70, align:'center', templet:function (d) {
					return getSex(d.sex)
					}},
				{field: 'school', title: '学校', minWidth:100, align:'center'},
				{field: 'grade', title: '年级', minWidth: 100, align: 'center', templet: function (d) {
						return getGradeType(d.grade)
					}},
				{field: 'entranceYear', title: '入学年份', minWidth:100, align:'center'},
				{field: 'remark', title: '备注', minWidth:100, align:'center'},
				{field: 'createTime', title: '创建时间', align:'center',minWidth:150},
				{field: 'address', title: '联系地址', align:'center',minWidth:100},
				{field: 'phoneOne', title: '电话一', minWidth:120, align:'center'},
				{field: 'phoneOneRemark', title: '电话一备注', minWidth:100, align:'center'},
				{field: 'phoneTwo', title: '电话二', minWidth:120, align:'center'},
				{field: 'phoneTwoRemark', title: '电话二备注', minWidth:100, align:'center'}

				,{fixed: 'right', title:'操作', toolbar: '#opbar', minWidth:180}
			]]
		});

		//搜索
		$(".search_btn").on("click",function(){
			searchByName();
		});

		//搜索绑定回车
		$("#searchByName").bind("keypress", function (e) {
			if (e.keyCode === 13) {
				searchByName();
			}
		});

		function searchByName(){
			table.reload("studentList",{
				page: {
					curr: 1 //重新从第 1 页开始
				},
				where: {
					studentName: $(".studentName").val()
				}
			})
		}

		table.on('tool(studentList)', function(obj){
			var data = obj.data;
			switch (obj.event) {
				case "infoEnter" :
					infoEnter(data);
					break;
				case "scoreEnter" :
					scoreEnter(data);
					break;
			}

		});

		function infoEnter(eData) {
			var title = "信息补录";
			var infoEnterNow = layui.layer.open({
				title : title,
				type : 2,
				area: ['400px', '400px'],
				content : "infoEnter.html",
				maxmin: true,
				success : function(layero, index){
					var body = layui.layer.getChildFrame('body', index);
					//回显学生信息
					body.find("#studentId").val(eData.id);
					body.find("#studentName").val(eData.studentName);
					body.find("#phoneOne").val(eData.phoneOne);
					body.find("#phoneOneRemark").val(eData.phoneOneRemark);
					body.find("#sex").val(eData.sex);
					body.find("#phoneTwo").val(eData.phoneTwo);
					body.find("#phoneTwoRemark").val(eData.phoneTwoRemark);
					body.find("#school").val(eData.school);
					body.find("#js_gradeSel").val(eData.grade);
					body.find("#entranceYear").val(eData.entranceYear);
					body.find("#address").val(eData.address);
					body.find("#birthday").val(eData.birthday);
					body.find("#remark").val(eData.remark);
				}
			});
			layui.layer.full(infoEnterNow);
		}

		var scoreTable;
		var studentId;
		var classId;
		//成绩录入
		function scoreEnter(data) {
			//先加载选择班级的下拉框
			var title = "成绩录入";
			studentId = data.id;
			findClassByStudentId();
			layui.layer.open({
				title : title,
				type : 1,
				area : ["420px","385px"],
				content : $('#openScoreList'),
				success : function(layero, index){
					scoreTable = table.render({
						elem: '#scoreList',
						url : '/testResult/findStudentTestResult',
						cellMinWidth : 115,
						page : true,
						height : 282,
						limits : [5,10,15],
						limit : 5,
						id : "scoreList",
						where: {
							studentId : data.id,
							classId : classId,
						},
						cols : [[
							//{type: "checkbox", fixed:"left", width:50},
							{field: 'testName', title: '考试名称', minWidth:100, align:'center'},
							{field: 'score', title: '分数', minWidth:100, align:'center', templet: function (d) {
									if (d.score === -1) return "未录入";
							}},
							{fixed: 'right', title:'操作', toolbar: '#opbarScore', align:'center', minWidth:20}
						]]
					});


					setTimeout(function(){
						layui.layer.tips('点击此处返回学生列表', '.layui-layer-setwin .layui-layer-close', {
							tips: 3
						});
					},500)
				}
			})

		}

		var title;
		table.on('tool(scoreList)', function(obj){
			var data = obj.data;
			switch (obj.event) {
				case "scoreIns" :
					title = "录入";
					scoreEdit(data);
					break;
				case "scoreEdit" :
					title = "编辑";
					scoreEdit(data);
					break;
				case "scoreDelete" :
					scoreDelete(data);
					break;
			}

		});

		function scoreEdit(data) {
			layui.layer.open({
				title : title,
				type : 2,
				area : ["420px","230px"],
				content : "scoreEdit.html",
				success : function(layero, index){
					var body = layui.layer.getChildFrame('body', index);
					body.find("#ID").val(data.id);
					body.find("#studentID").val(data.studentID);
					body.find("#classID").val(data.classID);
					body.find("#testID").val(data.testID);
					body.find("#testID").val(data.testID);
					body.find("#testName").val(data.testName);
					body.find("#score").val(data.score);

					setTimeout(function(){
						layui.layer.tips('点击此处返回学生列表', '.layui-layer-setwin .layui-layer-close', {
							tips: 3
						});
					},500)
				},
				end : function () {
					//scoreTable.reload();
					scoreListReload();
				}
			})
		}
		function scoreDelete(data) {
			alert("scoreDelete");
		}

		var classId;
		function findClassByStudentId() {
			$("#classesSselectId").html('');
			$.post("/classes/findUsedClass", {studentId: studentId}, function (res) {
				res.data.forEach(function (e) {
					$("#classesSselectId").append("<option value='" + e.id + "'>" + e.className + "</option>");
				});
				form.render('select');//重新渲染
				classId =  res.data[0].id;
				scoreListReload();
			})

		}

		function scoreListReload() {
			table.reload("scoreList",{
				page: {
					curr: 1 //重新从第 1 页开始
				},
				where: {
					studentId: studentId,
					classId: classId
				}
			})
		}


	})

</script>
</body>
</html>