<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="utf-8">
	<title>班级--三问数学</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/static/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/static/css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form linksAdd">
	<input type="hidden" value="" id="editId" name="classesId">
	<div class="layui-form-item">
		<label class="layui-form-label">考试名称</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" name="testName" id="testName" lay-verify="required" placeholder="请输入考试名称">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">备注</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input remark" name="remark" id="remark" lay-verify="required" placeholder="备注">
		</div>
	</div>

	<div class="layui-form-item">
		<button class="layui-btn layui-block" lay-filter="addTest" lay-submit>保存</button>
	</div>
</form>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script>
	layui.use(['form','layer'],function(){
		var form = layui.form
		layer = parent.layer === undefined ? layui.layer : top.layer,
				$ = layui.jquery;

		if ($("#classTypeSelectHid").val() != "") {
			$("#classTypeSelect").val($("#classTypeSelectHid").val());
		}
		if ($("#classLevelSelectHid").val() != "") {
			$("#classLevelSelect").val($("#classLevelSelectHid").val());
		}

		form.verify({
			money: function(val, item) {
				if(!/^\d+(\.\d{0,2})?$/.test(val)){
					return '请输入正确的格式'
				}
			}
		});
		form.on("submit(addTest)",function(data){
			var index = top.layer.msg('数据保存中，请稍候...',{icon: 16,time:false,shade:0.8});
			$.post("/test/add",data.field,function(res){
				layer.close(index);
				if (res.data){
					layer.msg("保存成功！");
					layer.closeAll("iframe");
					//刷新父页面
					parent.location.reload();
				} else {
					layer.msg(res.msg);
				}
			});
			return false;
		});

	})
</script>
</body>
</html>