<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="utf-8">
	<title>班级--三问数学</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/static/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/static/css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form linksAdd">
	<input type="hidden" value="" id="editId" name="classesId">
	<input type="hidden" value="" id="assistantTeacherIDSelectHid" name="assistantTeacherIDSelectHid">
	<input type="hidden" value="" id="curriculumIDSelectHid" name="curriculumIDSelectHid">
	<input type="hidden" value="" id="teacherIDSelectHid" name="teacherIDSelectHid">
	<input type="hidden" value="" id="classTypeSelectHid" name="classTypeSelectHid">
	<input type="hidden" value="" id="classLevelSelectHid" name="classLevelSelectHid">
	<input type="hidden" value="" id="editTeacherNameHidden" name="teacherNameHid">
	<input type="hidden" value="" id="editAssistantTeacherIDHidden" name="assistantTeacherNameHid">
	<input type="hidden" id="teacherNameHidden" name="teacherName">
	<input type="hidden" id="assistantTeacherIDHidden" name="assistantTeacherName">
	<div class="layui-form-item">
		<label class="layui-form-label">班级名称</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input className" name="className" lay-verify="required" placeholder="请输入班级名称">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">课程</label>
		<div class="layui-input-block">
			<select name="curriculumID" id="curriculumIDSelect"  lay-filter="curriculumIDSelect">

			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">主讲老师</label>
		<div class="layui-input-block">
			<select name="teacherID" id="teacherIDSelect"  lay-search="" lay-filter="teacherIDSelect">

			</select>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">助教老师</label>
		<div class="layui-input-block">
			<select name="assistantTeacherID" id="assistantTeacherIDSelect"  lay-search="" lay-filter="assistantTeacherIDSelect">

			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">班型</label>
		<div class="layui-input-block">
			<select name="classType" id="classTypeSelect"  lay-filter="classTypeSelect">
				<option value="0">A</option>
				<option value="1">B</option>
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">时间档</label>
		<div class="layui-input-block">
			<select name="classLevel" id="classLevelSelect"  lay-filter="classLevelSelect">
				<option value="1">一档</option>
				<option value="2">二档</option>
				<option value="3">三档</option>
				<option value="4">四档</option>
				<option value="5">五档</option>
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<button class="layui-btn layui-block" lay-filter="addClasses" lay-submit>保存</button>
	</div>
</form>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script>
	layui.use(['form','layer'],function(){
		var form = layui.form
		layer = parent.layer === undefined ? layui.layer : top.layer,
				$ = layui.jquery;

		if ($("#classTypeSelectHid").val() != "") {
			$("#classTypeSelect").val($("#classTypeSelectHid").val());
		}
		if ($("#classLevelSelectHid").val() != "") {
			$("#classLevelSelect").val($("#classLevelSelectHid").val());
		}
		$.post("/curriculum/selectListData",function(data){
			var resourceTypeList = data.data;
			resourceTypeList.forEach(function(e){
				$("#curriculumIDSelect").append("<option value='"+e.id+"'>"+e.curriculumName+"</option>");
			});
			if ($("#curriculumIDSelectHid").val() != "") {
				$("#curriculumIDSelect").val($("#curriculumIDSelectHid").val());
			}
			form.render('select');//重新渲染
		});
		$.post("/user/selectListData?roleId=2",function(data){
			var t = 0;
			var resourceTypeList = data.data;
			resourceTypeList.forEach(function(e){
				if (t == 0) {
					$("#teacherNameHidden").val(e.name);
				}
				t++;
				$("#teacherIDSelect").append("<option value='"+e.id+"'>"+e.name+"</option>");
			});
			if ($("#editTeacherNameHidden").val() != "") {
				$("#teacherNameHidden").val($("#editTeacherNameHidden").val());
			}
			if ($("#teacherIDSelectHid").val() != "") {
				$("#teacherIDSelect").val($("#teacherIDSelectHid").val());
			}
			form.render('select');//重新渲染
		});
		form.on('select(assistantTeacherIDSelect)', function(data){
			$("#assistantTeacherIDHidden").val($("#assistantTeacherIDSelect").find("option:selected").text());
		});

		form.on('select(teacherIDSelect)', function(data){
			$("#teacherNameHidden").val($("#teacherIDSelect").find("option:selected").text());
		});
		//助教老师
		$.post("/user/selectListData?roleId=3",function(data){
			var t = 0;
			var resourceTypeList = data.data;
			resourceTypeList.forEach(function(e){
				if (t == 0) {
					$("#assistantTeacherIDHidden").val(e.name);
				}
				t++;
				$("#assistantTeacherIDSelect").append("<option value='"+e.id+"'>"+e.name+"</option>");
			});
			if ($("#editAssistantTeacherIDHidden").val() != "") {
				$("#assistantTeacherIDHidden").val($("#editAssistantTeacherIDHidden").val());
			}

			if ($("#assistantTeacherIDSelectHid").val() != "") {
				$("#assistantTeacherIDSelect").val($("#assistantTeacherIDSelectHid").val());
			}
			form.render('select');//重新渲染
		});
		form.verify({
			money: function(val, item) {
				if(!/^\d+(\.\d{0,2})?$/.test(val)){
					return '请输入正确的格式'
				}
			}
		});
		form.on("submit(addClasses)",function(data){
			//弹出loading
			var action = "add";
			if ($("#editId").val() != "") {
				action = "update";
			}
			var index = top.layer.msg('数据保存中，请稍候...',{icon: 16,time:false,shade:0.8});
			$.post("/classes/"+action,data.field,function(res){
				layer.close(index);
				if (res.data){
					layer.msg("保存成功！");
					layer.closeAll("iframe");
					//刷新父页面
					parent.location.reload();
				} else {
					layer.msg(res.msg);
				}
			});
			return false;
		});

	})
</script>
</body>
</html>