<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="utf-8">
	<title>班级列表</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/static/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/static/css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form">
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<div class="layui-inline">
				<div class="layui-input-inline">
					<input type="text" class="layui-input className" id="searchByClassName" placeholder="请输入班级名称" />
                    <input id="hiddenText" type="text" style="display:none" />
                </div>
				<a class="layui-btn search_btn" data-type="reload">搜索</a>
			</div>
			<div class="layui-inline">
				<a class="layui-btn layui-btn-normal add_btn">添加</a>
			</div>
			<div class="layui-inline">
				<a class="layui-btn layui-btn-warm layui-btn-normal edit_btn">编辑</a>
			</div>
            <div class="layui-inline">
                <a class="layui-btn layui-btn-danger layui-btn-normal delAll_btn">删除</a>
            </div>
		</form>
	</blockquote>
	<table id="classesList" lay-filter="classesList"></table>
</form>
<script type="text/html" id="opbar">
	<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="seeTest">查看考试</a>
	<a class="layui-btn layui-btn-xs layui-btn-warm " lay-event="addTest">添加考试</a>

</script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/site.js"></script>
<script>
	layui.use(['form','layer','table'],function(){
		var form = layui.form,
				layer = parent.layer === undefined ? layui.layer : top.layer,
				$ = layui.jquery,
				table = layui.table;

		var curList;
		$.post("/curriculum/selectListData",{
			available : 1
		},function(data){
			curList = data.data;
		});
		//班级列表
		var tableIns = table.render({
			elem: '#classesList',
			url : '/classes/findPage',
			cellMinWidth : 115,
			page : true,
			height : "full-125",
			limits : [10,20,30],
			limit : 10,
			id : "classesList",
			cols : [[
				{type: "checkbox", fixed:"left", width:50},
				{field: 'className', title: '班级名称', minWidth:100, align:'center'},
				{field: 'curriculumID', title: '课程名称', minWidth:100, align:'center',templet:function(d){
						var name = "";
						curList.forEach(function(e){
							if (e.id === d.curriculumID){
								name = e.curriculumName;
							}
						});
						return name;
					}},
				{field: 'teacherName', title: '主讲老师', minWidth:100, align:'center'},
				{field: 'assistantTeacherName', title: '助教老师', minWidth:100, align:'center'},
				{field: 'classType', title: '班型', minWidth:100, align:'center',templet:function(d){
						return getClassesType(d.classType)
					}},
				{field: 'classLevel', title: '时间', minWidth:100, align:'center',templet:function(d){
						return getClassesLevel(d.classLevel)
					}},
				{field: 'createTime', title: '创建时间', align:'center',minWidth:100}

				,{fixed: 'right', title:'操作', toolbar: '#opbar', width:180}
			]]
		});

		//搜索
		$(".search_btn").on("click",function(){
            searchByClassName();
		});

		//搜索绑定回车
        $("#searchByClassName").bind("keypress", function (e) {
            if (e.keyCode === 13) {
                searchByClassName();
            }
        });

		function searchByClassName(){
            table.reload("classesList",{
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                where: {
                    className: $(".className").val()
                }
            })
        }

		$(".edit_btn").click(function(){
			var checkStatus = table.checkStatus('classesList'),
					data = checkStatus.data;
			if(data.length > 0){
				addCurri(data[0]);
			}else{
				layer.msg("请选择需要修改的班级");
			}
		});
		//添加班级
		function addCurri(edit){
			var h = "440px";
			var title = "添加班级";
			if (edit){
				h = "440px";
				title = "编辑班级";
			}
			layui.layer.open({
				title : title,
				type : 2,
				area : ["420px",h],
				content : "info.html",
				success : function(layero, index){
					var body = layui.layer.getChildFrame('body', index);
					if(edit){
						body.find("#editId").val(edit.id);
						body.find(".className").val(edit.className);
						body.find("#editTeacherNameHidden").val(edit.teacherName);
						body.find("#editAssistantTeacherIDHidden").val(edit.assistantTeacherName);
						body.find("#assistantTeacherIDSelectHid").val(edit.assistantTeacherID);
						body.find("#curriculumIDSelectHid").val(edit.curriculumID);
						body.find("#teacherIDSelectHid").val(edit.teacherID);
						body.find("#classTypeSelectHid").val(edit.classType);
						body.find("#classLevelSelectHid").val(edit.classLevel);
						form.render();
					}
					setTimeout(function(){
						layui.layer.tips('点击此处返回班级列表', '.layui-layer-setwin .layui-layer-close', {
							tips: 3
						});
					},500)
				}
			})
		}

		$(".add_btn").click(function(){
			addCurri();
		});
		$(".delAll_btn").click(function(){
			var checkStatus = table.checkStatus('classesList'),
					data = checkStatus.data,
					idArr = [];
			if(data.length > 0) {
				for (var i in data) {
					idArr.push(data[i].id);
				}
				layer.confirm('确定删除选中的班级？', {icon: 3, title: '提示信息'}, function (index) {
					$.get("/classes/delete",{
						idArr : idArr.toString()
					},function(data){
						layer.close(index);
						tableIns.reload();
						if (data.data){
							layer.msg("删除成功！");
						} else {
							layer.msg(data.msg);
						}
					})
				})
			}else{
				layer.msg("请选择需要删除的班级");
			}
		})

		table.on('tool(classesList)', function(obj){
			var data = obj.data;
			switch (obj.event) {
				case "seeTest" :
					seeTest(data);
					break;
				case "addTest" :
					addTest(data);
					break;
			}

		});

		function seeTest() {
			alert("查看考试")
		}

		function addTest(data) {
			var title = "添加考试";
			layui.layer.open({
				title : title,
				type : 2,
				area : ["420px","230px"],
				content : "addTest.html",
				success : function(layero, index){
					var body = layui.layer.getChildFrame('body', index);
					body.find("#editId").val(data.id);
					setTimeout(function(){
						layui.layer.tips('点击此处返回班级列表', '.layui-layer-setwin .layui-layer-close', {
							tips: 3
						});
					},500)
				}
			})
		}



	})

</script>
</body>
</html>