<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>课程--三问数学</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/css/public.css" media="all"/>
    <style>
        .needspan label.error{
            float: left;
            margin-left: 108px;
        }
    </style>
</head>
<body class="childrenBody">
<!-- 转班弹出层开始 -->
<!--<div style="display: none;" id="changeClassDiv">-->
<!--<form action="" method="post" class="layui-form layui-form-pane" id="changeClassFrm" lay-filter="changeClassFrm">-->
<form class="layui-form changeClassForm" id="changeClassForm">
    <input type="hidden" value="" id="studentID" name="studentID"/>
    <input type="hidden" value="" id="orderId" name="orderId"/>

    <!--课程Id 上一个页面传过来的课程Id 不是当前的课程Id-->
    <input type="hidden" value="" id="curriculumID" name="curriculumID"/>

    <!--课程-->
    <input type="hidden" value="" id="curriculumName" name="curriculumName">
    <!--班级-->
    <!--合计-->
    <!--优惠-->
    <div class="layui-form-item" style="margin-bottom: 0px;">
        <label class="layui-form-label">选择班级</label>
        <div class="layui-input-block">
            <select class="classes classesSselectId" id="classesSselectId" lay-filter="classesSselectId" name="stuClass"
                    lay-verify="required" lay-search="">
            </select>
        </div>
    </div>
    <div class="layui-form-item" style="margin-bottom: 0px;">
        <div class="layui-inline">
            <label class="layui-form-label" style="padding-left: 0;width: 95px;">类型：</label>
            <div class="layui-input-inline" style="width: 80px;margin-right: 0;">
                <label class="layui-form-label" id="classType" style="text-align: left;"></label>
            </div>
        </div>
    </div>

    <div class="layui-form-item" style="margin-bottom: 0px;">
        <div class="layui-inline">
            <label class="layui-form-label" style="padding-left: 0;width: 95px;">年级：</label>
            <div class="layui-input-inline" style="width: 80px;margin-right: 0;">
                <label class="layui-form-label" id="grade" style="text-align: left;"></label>
            </div>
        </div>
    </div>

    <div class="layui-form-item" style="margin-bottom: 0px;">
        <div class="layui-inline">
            <label class="layui-form-label" style="padding-left: 0;width: 95px;">班型：</label>
            <div class="layui-input-inline" style="width: 80px;margin-right: 0;">
                <label class="layui-form-label" id="gradeType" style="text-align: left;"></label>
            </div>
        </div>
    </div>

    <div class="layui-form-item" style="margin-bottom: 0px;">
        <div class="layui-inline">
            <label class="layui-form-label" style="padding-left: 0;width: 95px;">人数：</label>
            <div class="layui-input-inline" style="width: 80px;margin-right: 0;">
                <label class="layui-form-label" id="stuCount" style="text-align: left;"></label>
            </div>
        </div>

    </div>
    <div class="layui-form-item" style="margin-bottom: 0px;">
        <div class="layui-inline">
            <label class="layui-form-label" style="padding-left: 0;width: 95px;">金额：</label>
            <div class="layui-input-inline" style="width: 110px;">
                <label class="layui-form-label" id="kcfee" style="text-align: left;"></label>
            </div>
        </div>
    </div>
    <div class="layui-form-item" style="margin-bottom: 0px;">
        <div class="layui-inline">
            <label class="layui-form-label" style="padding-left: 14px;">优惠：</label>
            <div class="layui-input-inline" style="width: 110px;">
                <input type="text" class="layui-input number" id="preferential" name="preferential"
                       value="0" style="margin-left: 2px; padding-left: 13px" placeholder="">
            </div>
        </div>
    </div>
<!--    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="padding-left: 0;">预缴</label>
            <div class="layui-input-inline" style="width: 110px;">
                <input type="text" class="layui-input number" required id="prePay" name="prePay" value="0"
                       style="margin-left: 20px;" placeholder="">
            </div>
        </div>
    </div>-->

    <div class="layui-form-item" style="margin-bottom: 0px;">
        <div class="layui-inline">
            <label class="layui-form-label" style="padding-left: 0;width: 95px;">欠费：</label>
            <div class="layui-input-inline" style="width: 80px;margin-right: 0;">
                <label class="layui-form-label js_orderNeedPay" id="noPay" style="text-align: left;"></label>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label needspan" style="padding-left: 0;">说明</label>
        <div class="layui-input-block">
                            <textarea placeholder="请输入说明" id="classCusInfo" name="discountRemark" class="layui-textarea"
                                      lay-verify="required" maxlength="256" placeholder="请输入说明"></textarea>
            <span class="reqInfo" style="left: -70px;">*</span>
        </div>
    </div>
    <div class="layui-form-item">
        <a class="layui-btn layui-block" lay-filter="payBackTab" lay-submit>确认</a>
    </div>

</form>

<!--</div>-->
<!-- 转班弹出层结束 -->
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.validate.js"></script>
<script type="text/javascript" src="/static/js/site.js"></script>
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery;

        var studentId = parent.getStudentId.getStudentId();
        //查找未加入班级增加课程Id 参数
        var curriculumID = $("#curriculumID").val();
        $.post("/classes/findNotUsedClass",{studentId : studentId, curriculumId : curriculumID}, function (data) {
            var t = 0;
            classList = data.data;

            classList.forEach(function (e) {
                if (t == 0) {
                    initClassInfo(e);
                }
                t++;
                $("#classesSselectId").append("<option value='" + e.id + "'>" + e.className + "</option>");
            });
            form.render('select');//重新渲染
        });


        form.on('select(semesterSelect)', function (data) {
            var options = "";
            if (data.value == 0 || data.value == 1) {
                options += "<option value=\"1\">一期</option>\n" +
                    "\t\t\t\t<option value=\"2\">二期</option>\n" +
                    "\t\t\t\t<option value=\"3\">三期</option>\n" +
                    "\t\t\t\t<option value=\"4\">四期</option>\n" +
                    "\t\t\t\t<option value=\"5\">特殊</option>";
            } else {
                options += "<option value=\"6\">周一</option>\n" +
                    "\t\t\t\t<option value=\"7\">周二</option>\n" +
                    "\t\t\t\t<option value=\"8\">周三</option>\n" +
                    "\t\t\t\t<option value=\"9\">周四</option>\n" +
                    "\t\t\t\t<option value=\"10\">周五</option>\n" +
                    "\t\t\t\t<option value=\"11\">周六</option>\n" +
                    "\t\t\t\t<option value=\"12\">周日</option>";
            }
            $("#dateSelect").html(options);
            form.render("select")
        });
        form.verify({
            money: function (val, item) {
                if (!/^\d+(\.\d{0,2})?$/.test(val)) {
                    return '请输入正确的格式'
                }
            }
        });

        //当你在iframe页面关闭自身时
        //var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        //parent.layer.close(index,1231); //再执行关闭


        function initClassInfo(data) {

            //班型
            $("#gradeType").html(getClassesType(data.classType));
            $(".js_orderClassName").html(data.className);
            $("#classesId").val(data.id);
            $.post("/curriculum/findById?id=" + data.curriculumID, function (curi) {
                $("#grade").html(getGradeType(curi.data.grade));
                $("#curriculumId").val(data.curriculumID);
                //类型
                $("#classType").html(getSeType(curi.data.semester));
                $("#kcfee").html(curi.data.price);
                $(".js_orderAllNeedPay").html(curi.data.price);
                $("#noPay").html(curi.data.price);
                $(".js_orderGrade").html(curi.data.curriculumName);
                //课程名
                $("#curriculumName").val(curi.data.curriculumName);
            });
        }

        form.on('select(classesSselectId)', function (data) {
            classList.forEach(function (e) {
                if (data.value == e.id) {
                    initClassInfo(e);
                    $("#preferential").val("0");
                }
            });

        });

        var className;
        var curriculumId;
        //合计金额
        var orderAllNeedPay;
        //欠费
        var unpaidAmount;
        form.on("submit(payBackTab)",function(data){
            classList.forEach(function (e) {
                if (e.id + "" === data.field.stuClass) {
                    className = e.className;
                    curriculumId = e.curriculumID;
                }
            });
            orderAllNeedPay = document.getElementById("kcfee");
            //alert(JSON.stringify(data.field));
            //取消订单
            var alertMsg = "确认转班将跳转至缴费页面？";
            if (data.field.orderId == "") {
                alertMsg = "确认续报将跳转至缴费页面？";
            }
            layer.confirm(alertMsg, {icon: 3, title: '提示信息'}, function (index) {
                layer.close(index);
                //补缴费
                parent.payback.payback(data.field, className, curriculumId, orderAllNeedPay, unpaidAmount);
                //var orderId = data.field.orderId;
            })

        });

        $('#preferential').on('input propertychange', function(){
            var allMoney = $("#kcfee").text();
            var yhMoney = $(this).val();
            //$(".js_orderYouhui").val(yhMoney);
            //var preMoney = $("#prePay").val();
            var noPay = allMoney - yhMoney;
            if (noPay > 0 ) {
                $("#noPay").text(noPay);
                $(".js_orderNeedPay").html(noPay);
            }else {
                $("#noPay").text(0);
                $(".js_orderNeedPay").html(0);
            }
            unpaidAmount = noPay;
        });

    })
</script>
</body>
</html>