<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="utf-8">
	<title>续报</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/static/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/static/css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form">
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<div class="layui-inline">
				<div class="layui-input-inline">
					<input type="text" class="layui-input stdName" id="searchByName" placeholder="请输入学生姓名" />
					<input id="hiddenText" type="text" style="display:none" />
				</div>
				<a class="layui-btn search_btn" data-type="reload">搜索</a>
			</div>
		</form>
	</blockquote>
	<table id="studentList" lay-filter="studentList"></table>

	<div id="openPayRedord" style="display: none">
		<table id="payRedordList" lay-filter="payRedordList"></table>
	</div>

</form>
<script type="text/html" id="opbar">
	{{#  if(d.orderStatus == 5 ){ }}
	<!--<div>已退费</div>-->
	<div></div>
	{{#  } else { }}
	<a class="layui-btn layui-btn-xs" lay-event="continueBm">续报</a>
	<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="changeClass">转班</a>
	<a class="layui-btn layui-btn-xs layui-btn-warm " lay-event="addPayRecoed">补缴费</a>
	<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="payRedord">收费流水</a>
	<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="cancelOrder">退费</a>
	{{#  } }}
</script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/site.js"></script>
<script>
	layui.use(['form','layer','table',"layedit"],function(){
		var form = layui.form,
				layer = parent.layer === undefined ? layui.layer : top.layer,
				$ = layui.jquery,
				table = layui.table;

		var layedit = layui.layedit;

		//layedit.build('content')

		//课程列表
		var tableIns = table.render({
			elem: '#studentList',
			url : '/order/findPage',
			page : true,
			height : "full-125",
			limits : [10,20,30],
			limit : 10,
			id : "studentList",
			cols : [[
				{type: "checkbox", fixed:"left", width:50},
				{field: 'studentName', title: '姓名', minWidth:100, align:'center', sort: true ,templet:function(d){
						return d.studentName
					}},
				{field: 'phoneOne', title: '手机号码', minWidth:100, align:'center', sort: true ,templet:function(d){
						return d.phoneOne
					}},
                {field: 'className', title: '班级', minWidth:80, align:'center', sort: true ,templet:function(d){
                        return d.className
                    }},
                {field: 'curriculumName', title: '课程', minWidth:80, align:'center', sort: true ,templet:function(d){
                        return d.curriculumName
                    }},
				{field: 'price', title: '金额', minWidth:100, align:'center', sort: true ,templet:function(d){
						return d.price
					}},
				{field: 'price', title: '优惠', minWidth:100, align:'center', sort: true ,templet:function(d){
						return d.discountAmount
					}},
				{field: 'grade', title: '已缴费', minWidth:100, align:'center', sort: true ,templet:function(d){
						return d.paidAmount
					}},
				{field: 'unpaidAmount', title: '欠费', minWidth:100, align:'center', sort: true ,templet:function(d){
						if (d.unpaidAmount == 0) {
							return  d.unpaidAmount;
						}else {
							return "<span class='layui-red'>" + d.unpaidAmount + "</span>";
						}
					}},
				{field: 'orderStatus', title: '订单状态', minWidth:100, align:'center', sort: true ,templet:function(d){
						return getOrderStatus(d.orderStatus);
					}},
				{field: 'createTime', title: '创建时间', width:170, align:'center', sort: true}
				,{fixed: 'right', title:'操作', toolbar: '#opbar', width:350}
			]]
		});


		//搜索绑定回车
		$("#searchByName").bind("keypress", function (e) {
			if (e.keyCode === 13) {
				searchByName();
			}
		});

		//搜索
		$(".search_btn").on("click",function(){
			searchByName()
		});

		function searchByName() {
			table.reload("studentList",{
				page: {
					curr: 1 //重新从第 1 页开始
				},
				where: {
					studentName: $(".stdName").val()
				}
			})
		}

		$(".stdName").keypress(function (e) {
			if (e.which == 13) {
				$(".search_btn").click();
				return false;
			}
		});

		var payBackData;
		table.on('tool(studentList)', function(obj){
			var title;
			var data = obj.data;
			payBackData = obj.data;
			switch (obj.event) {
				case 'addPayRecoed' :
					payBackTab(data);
					break;
				case 'edit' :
					layer.prompt({
						formType: 2
						,value: data.email
					}, function(value, index){
						obj.update({
							email: value
						});
						layer.close(index);
					});
					break;
				case 'changeClass' :
					title = "转班";
					changeClassAndContinue(data, title);
					break;
				case 'continueBm' :
					title = "续报";
					changeClassAndContinue(data, title);
					break;
				case 'payRedord' :
					payRedord(data);
					break;
				case 'cancelOrder' :
					cancelOrder(data);
					break;
			}
		});
		function payBackTab(eData) {
			var h = "440px";
			var title = "补缴费";
			var indexNow = layui.layer.open({
				title : title,
				type : 2,
				area: ['400px', '400px'],
				content : "payback.html",
				maxmin: true,
				success : function(layero, index){
					var body = layui.layer.getChildFrame('body', index);
					body.find(".js_orderAllNeedPay").html(eData.price);
					body.find(".js_orderClassName").html(eData.curriculumName);
					body.find(".js_orderGrade").html(eData.className);
					body.find(".js_orderYouhui").html(eData.discountAmount);
					body.find(".js_orderPrePay").html(eData.payableAmount);
					body.find(".js_orderNeedPay").html(eData.unpaidAmount);
					body.find("#orderId").val(eData.id);
				}
			});
			layui.layer.full(indexNow);
		}

		//转班 Or 续报
		var studentId;
		function changeClassAndContinue(eData, title) {
			studentId = eData.studentID;
			//var title = "转班";
			/*var indexNow = */
			var h = "570px";
			if (title == '续报') {
				h = "610px"
			}
				layui.layer.open({
				title : title,
				type : 2,
				area: ['460px', h],
				content : "changeClass.html",
				maxmin: true,
				success : function(layero, index){
					var body = layui.layer.getChildFrame('body', index);
					//续报不带
					if (title == '转班') {
						body.find("#orderId").val(eData.id);
						//课程Id
                        body.find("#curriculumID").val(eData.curriculumID);
					}
					body.find("#studentID").val(eData.studentID);


				}
			});
		}


		/**
		 * 转班页面跳补转费页面
		 * @type {{payback: payback}}
		 * @private
		 */
		var _payback = {
			payback : function(data, className, curriculumId, orderAllNeedPay, unpaidAmount){
			    var eData = payBackData;
                var h = "440px";
                var title = "补缴费";
                var indexNow = layui.layer.open({
                    title : title,
                    type : 2,
                    area: ['400px', '400px'],
                    content : "payback.html",
                    maxmin: true,
                    success : function(layero, index){
                    	console.log(unpaidAmount);
                        var body = layui.layer.getChildFrame('body', index);
                        //合计金额
                        body.find(".js_orderAllNeedPay").html(orderAllNeedPay);
                        //课程
                        body.find(".js_orderClassName").html(data.curriculumName);
                        //班级
                        body.find(".js_orderGrade").html(className);
                        //优惠
                        body.find(".js_orderYouhui").html(data.preferential);
                        //已缴
                        body.find(".js_orderPrePay").html(eData.prePay);
                        //总欠费
                        body.find(".js_orderNeedPay").html(unpaidAmount);
                        //转班新建订单 转班取消原来的订单 传orderId
                        body.find("#orderId").val(data.orderId);
                        body.find("#studentId").val(data.studentID);
                        body.find("#classesId").val(data.stuClass);
                        body.find("#curriculumId").val(curriculumId);
                        body.find("#discountAmount").val(data.preferential);
                        body.find("#discountRemark").val(data.discountRemark);
                    }
                });
                layui.layer.full(indexNow);
			}
		};
		window.payback = _payback;

		//退费
		function cancelOrder(eData) {
			var title = "退费";
			layui.layer.open({
				title : title,
				type : 2,
				area : ["420px","170px"],
				content : "refund.html",
				success : function(layero, index){
					var body = layui.layer.getChildFrame('body', index);
					body.find("#orderId").val(eData.id);

					setTimeout(function(){
						layui.layer.tips('点击此处返回', '.layui-layer-setwin .layui-layer-close', {
							tips: 3
						});
					},500)
				},

			})
		}

		var _getStudentId = {
			getStudentId : function () {
				return studentId;
			}
		}
		window.getStudentId = _getStudentId;

		function payRedord(eData) {
			var orderId = eData.id;
			layui.layer.open({
					title : "收费流水",
					type : 1,
					area : ["858px","330px"],
					content : $('#openPayRedord'),
					success : function(layero, index){
						 table.render({
							elem: '#payRedordList',
							url : '/pay/payRecord',
							cellMinWidth : 70,
							page : true,
							height : 282,
							limits : [5,10,15],
							limit : 5,
							id : "payRedordList",
							where: {
								orderId : orderId
							},
							cols : [[
								//{type: "checkbox", fixed:"left", width:50},
								{field: 'orderNo', title: '订单号', width:120, align:'center', sort: true},
								{field: 'payType', title: '支付方式', width:120, align:'center', sort: true, templet: function (d) {
										return getPayType(d.payType);
									}},
								{field: 'payAmount', title: '付款金额', width:120, align:'center', sort: true},
								{field: 'toller', title: '收费人', width:130, align:'center', sort: true},
								{field: 'recordType', title: '类型', width:90, align:'center', sort: true, templet: function (d) {
										return getRecordType(d.recordType);
									}},
								{field: 'createTime', title: '创建时间', width:170, align:'center', sort: true},
								{field: 'remark', title: '备注', width:100, align:'center', sort: true}

							]]
						});

						setTimeout(function(){
							layui.layer.tips('点击此处返回', '.layui-layer-setwin .layui-layer-close', {
								tips: 3
							});
						},500)
					}
				})


		}
	})
</script>
</body>
</html>